*.iml
.gradle
/local.properties
/.idea/*
!/.idea/codeStyles
/.idea/codeStyles/*
!/.idea/codeStyles/Project.xml
!/.idea/codeStyles/codeStyleConfig.xml
.DS_Store
/build
/buildSrc/build
/captures
/feature/build/
/lib-binding/build/
**/build/
**/screenshots/
/demo-apps/build/
.externalNativeBuild
.cxx
local.properties

.classpath
.project
.settings/
